body{
    background: #352f5b;
}

.container{
    max-width: 400px;
}

/* form{
    color: white;
} */

input[type=text],
input[type=text]:focus{
    color: #fff;
    border: none;
    max-width: 400px;
    /* background: rgba(0,0,0,0.2); */
}

.todos li{
    background: #423a6f;
}

.delete{
    cursor: pointer;
}

.filtered{
    display: none !important;
}

.new{
    padding: 0 0 10px 0;
}